{% extends 'bases/base.html' %}

{% block content %}
<h1>Home Page!</h1>
<form action="{% url 'home' %}">
    <label>Maths</label>
    <input type='number' name='maths' placeholder='Maths Mark'>


    <label>Social</label>
    <input type='number' name='social' placeholder='Social Marks'>

    <button type='submit'>Save</button>
</form>


<img src="https://source.unsplash.com/user/erondu/1600x900" style='position: relative;width:100%;'>

<h1>Home Page!</h1>
{% endblock %}


{% block title %}Home{% endblock %}